<div class="container1">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="mycard custom-width">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="login()">
          <mat-form-field class="form-group">
            <input matInput type="email" [(ngModel)]="loginUser.email" name="email" placeholder="Email" required>
          </mat-form-field>
          <mat-form-field class="form-group">
            <input matInput type="password" [(ngModel)]="loginUser.password" name="password" placeholder="Password" required>
          </mat-form-field>
          <!-- <div fxLayout="column" fxLayoutGap="10px">
            <button mat-raised-button type="submit" class="btn-secondary login-button">Login</button>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="text-end">
              <p class="new-user-text">New User?</p>
              <a mat-raised-button routerLink="/register" class="btn-secondary register-button">Register</a>
            </div>
          </div> -->
          <div fxLayout="column" fxLayoutGap="10px" class="d-flex flex-row justify-content-between">
            <button mat-raised-button type="submit" class="btn-secondary login-button">Login</button>
            <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="text-end"> -->
              <!-- <p class="new-user-text">New User?</p> -->
              <a mat-raised-button routerLink="/register" class="btn-secondary register-button">Register</a>
            <!-- </div> -->
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
