<!-- plant.component.html -->

<div class="container">
  <h2>Add New Plant</h2>

  <form [formGroup]="plantForm" (ngSubmit)="savePlant()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" formControlName="description"></textarea>
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" formControlName="price">
    </div>

    <div class="form-group">
      <label for="water">Water:</label>
      <input type="text" class="form-control" id="water" formControlName="water">
    </div>

    <div class="form-group">
      <label for="temperature">Temperature:</label>
      <input type="text" class="form-control" id="temperature" formControlName="temperature">
    </div>

    <div class="form-group">
      <label for="onHandValue">On Hand Value:</label>
      <input type="number" class="form-control" id="onHandValue" formControlName="onHandValue">
    </div>

    <div class="form-group">
      <label for="image">Image:</label>
      <input type="file" class="form-control-file" id="image" (change)="onImageChange($event)">
    </div>

    <button type="submit" class="btn btn-primary">Save Plant</button>
  </form>
</div>
