<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="text-center">Register</h2>
          <form (submit)="register()">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" id="username" [(ngModel)]="registerUser.username" name="username" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" [(ngModel)]="registerUser.email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" id="password" [(ngModel)]="registerUser.password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone Number:</label>
              <input type="text" id="phoneNumber" [(ngModel)]="registerUser.phoneNumber" name="phoneNumber" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="role">Role:</label>
              <div class="form-check">
                <input type="radio" id="consumer" [(ngModel)]="registerUser.role" name="role" value="consumer" class="form-check-input" required>
                <label class="form-check-label" for="consumer">Consumer</label>
              </div>
              <div class="form-check">
                <input type="radio" id="provider" [(ngModel)]="registerUser.role" name="role" value="provider" class="form-check-input" required>
                <label class="form-check-label" for="provider">Provider</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
